/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 10px; 
    line-height: 32px;
    font-family: sans-serif;
    color: #FF9D26;
}

main h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #0D7EB2;
    border-bottom: 1px solid #bbb;
    
}

h2 {
    font-size: 1rem;
    text-align: left;
    
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 900px;
}

header, footer, footer a {
    text-align: center;
    background-color: #B26200;
    color: whitesmoke;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    clear: both;
    font-size: 0.85rem;
}