@media only screen and (min-width: 64em) {
    
    header, nav, main, footer { 
        max-width: 64rem;
        margin: auto;
    }
    
    #navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    nav ul li a { padding: .6rem 1rem; }
    main div h1 { text-align: center;}
    
    .franklin-box {
        justify-content: space-around;
    }
    
    div.history-box {
        display: inline-block;
    }
    
    section.curiosities {
        float: right;
        padding-left: 10px;
        width: 50%;
    }
    
.container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    grid-row-gap: 1em;
}
div.responsive:hover {box-shadow: 5px 5px 10px gray;}

    main div.wrapper:after {
        content: "";
        display: table;
        clear: both;
    }
    
    div#firstbox {
        display: inline-block;
        border: 2px solid #F2845C;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(245,241,213,0.5);
    }
    
    main div#secondbox, div#thirdbox, div#fourthbox {
        width: 32%;
        float: left;
        border: 2px solid #B4D6C6;
        border-radius: 8px;
        margin: 10px 6px;
        padding: .5em;
        background-color: rgba(74,132,159,0.3);
    }
    
    div.item1, div.item3, div.item5 {
        background-color: transparent;
        border-style: none;  
    }
    
    div.item1 { margin: 3em; }

    div.item4, div.item6 {
        float: none;
        width: 100%
    }
    
    main div#citydataf, div#citydatag, div#citydatas {
        width: 100%;
    }
    
    div.item3 {
        margin: 0;
    }
    
    main button {
        max-width: 15rem; 
    }
    
    /*div.even {
        border: 2px solid #B4D6C6;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(74,132,159,0.3);
    }
    
    div#thirdbox {
        border: 2px solid #F2845C;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(245,241,213,0.5);
    }
    */
    footer:before {
        content: "";
        display: table;
        clear: both;
    }
    
  