@media only screen and (min-width: 64em) {
    
    header, nav, main, footer { 
        max-width: 64rem;
        margin: auto;
    }
    
    nav button { display:none; }
    
    
    
    #navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
  
    
    nav ul li { 
        float: left;
        font-size: 18px;
    }
    
    nav ul li a { 
        border: none;
        border-right: 1px solid rgba(245,241,213,0.3);
        padding: .8rem 2rem;
    }
    
    nav ul li a:hover {
        color: #D6D25C;
        background-color: #65D6D0;
    }
    
    nav ul.hide { 
        display: inline-flex;
    }
   
    
    main div h1 { text-align: center;}
    
    main div.centered {
        font-size: 35px;
    }
    
    .franklin-box {
        justify-content: space-around;
    }
    
    div.history-box {
        display: inline-block;
    }
    
    section.curiosities {
        float: right;
        padding-left: 10px;
        width: 50%;
    }

div.responsive:hover {box-shadow: 5px 5px 10px gray;}

    main div.wrapper:after {
        content: "";
        display: table;
        clear: both;
    }
    
    main div.inline {
        grid-template-columns: auto auto auto auto;
        margin: 2em; 
        grid-gap: 35px;
    }
    
    main div figure {
        width: 210px;
    }
    
    main div.container {
    grid-template-columns: repeat(4, 1fr);
    }
    
    main div.tab {
        grid-template-columns: auto auto auto auto auto auto;
    }
    /*div#firstbox {
        display: inline-block;
        border: 2px solid #F2845C;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(245,241,213,0.5);
    }
    
    main div#secondbox, div#thirdbox, div#fourthbox {
        width: 32%;
        float: left;
        border: 2px solid #B4D6C6;
        border-radius: 8px;
        margin: 10px 6px;
        padding: .5em;
        background-color: rgba(74,132,159,0.3);
    }
    
    div.item1, div.item3, div.item5 {
        background-color: transparent;
        border-style: none;  
    }
    
    div.item1 { margin: 3em; }

    div.item4, div.item6 {
        float: none;
        width: 100%
    }
    
    main div#citydataf, div#citydatag, div#citydatas {
        width: 100%;
    }
    
    div.item3 {
        margin: 0;
    }
    
    main button {
        max-width: 15rem; 
    }
    
    /*div.even {
        border: 2px solid #B4D6C6;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(74,132,159,0.3);
    }
    
    div#thirdbox {
        border: 2px solid #F2845C;
        border-radius: 8px;
        margin: 10px auto;
        padding: .5em;
        background-color: rgba(245,241,213,0.5);
    }
    */
    footer {
        content: "";
        display: table;
        clear: both;
    }
    
    /*------------contact page------------*/

    main div.contactbox {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    
    div.form, div.address {
        border: 2px solid #1A2F40;
        padding: 10px;
        border-radius: 15px;
    }

    
  