* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

header, nav, main, footer { 
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

/*------------header------------*/

header {
    padding: 0 2%;
    background: #1A2F40;
}
/*header h1 {
    font-size: 20px;
    color: #1B3440;
    margin: 0;
}
header h2 {
    font-size: 16px;
    color: #4A849F;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}*/

header nav {
    float: right;
    padding: 3rem 0;    
}
header figure,header nav {
    display:inline-block;
    vertical-align:middle;
 }

/*------------nav------------*/

nav {
   background-color: #1A2F40;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #F5F1D5;
    float: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
nav ul li {
    font-size: 16px;
    color: #F5F1D5;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #F5F1D5;
    border-top: 1px solid rgba(245,241,213,0.4);
}
nav ul li.active a { 
    color: #65D6D0;
    background-color: rgb(26,47,64);
}
nav ul li a:hover {
    color: #D6D25C;
    background-color: #65D6D0;
}
nav ul.hide { display: none; }


/*------------main------------*/

main {
    padding: 0.2%;
}
main figure.hero { width: 100%; margin: 0; }
main figure.hero img { 
    width: 100%; 
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

main div h1 { 
    color: #1B3440;
}
main div h2 {
    color: #A38E62;
    font-size: 22px;
}
main div h3 { 
    color: #D6D25C;
    font-size: 18px;
}
main figure { 
    margin: 0 .1em 2%; 
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}
main figure img { 
    width: 100%;
    height: auto;  
}

main p { 
    font-family: 'Gentium Book Basic', serif;
    font-size: 18px;
}
main ul { 
    font-family: 'Gentium Book Basic', serif;
    font-size: 18px;
}

main div.master-box {
    position: relative;
    text-align: center;
}

main div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat', cursive;
    text-align: center;
}

main div#flush-left {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-25%, -50%);
    font-family: 'Caveat', cursive;
    text-align: left;
}

main div#flush-left h1{
    text-align: left;
    font-size: 23px;
}

main div#flush-left h2{
    font-size: 20px;
}

/*#align-text {
    margin-left: 50%;
}*/

main div.master-box figure {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

main div.inline {
    display: grid;
}

main div.inline2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding: 5px;
    text-align: left;
}

main div.container {
    display: grid;
}

main div#map {
    width: 100%;
    height: 300px;
}

main div span#linkToHome {
    font-size: 17px; 
}

main div#flush-left form {
    display: none;
}

/*------------button------------*/

main button {
    border: none;
    background-color: #65D6D0;
    color: #F2F0D5;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 0 0 2%;
    width: 96%;
    max-width: auto; 
}

main div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #A38E62;
    display: grid;
    grid-template-columns: auto;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 15px 10px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #65D6D0;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #65D6D0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*------------footer------------*/

footer {
    color: #F2F0D5;
    background-color: #1A2F40; 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px;
    height: auto;
    width: 100%;
}
.box3 { 
    background-color: #F2F0D5;
    color: #1A2F40;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: -10px;
}

iframe {
    width: auto;
    height: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*------------services page------------*/


table {
    font-family: 'Quicksand', serif;
    border-collapse: collapse;
    width: auto;
    margin-left:auto; 
    margin-right:auto;
}

table ul{
    font-family: 'Quicksand', serif;
}

th, td {
    border: 1px solid #65D6D0;
    text-align: left;
    padding: 8px;
}

/*------------form------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #65D6D0;
    border-radius: 10px;
    padding: 1rem 2%;
}

form legend {
    color: #BFA673;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #1A2F40;
    font-size: 1.2rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none; 
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(242,240,213,0.9);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #4A849F;
    font-size: 1.1rem;
}

form label.level {
    display: block;
    padding: .75rem 0;
    color: #1B3440;
    font-size: 1rem;
}

form textarea.comments {
    width: 100%;
    height: 100px;
    padding: 12px;
    box-sizing: border-box;
    border: .5px solid rgba(27,52,64,0.5);
    border-radius: 4px;
    color: #555;
    background-color: rgba(245,241,213,0.9);
    font-size: 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #65D6D0;
    color: #F2F0D5;
    border-radius: 1rem;
    padding: .75rem 1.5rem; 
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem; 
    font-weight: bold;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form fieldset#contact-form {
    margin: 2rem 0;
    border: 1px solid transparent;
    padding: 1rem 2%;
}



/*------------index page------------*/

main div.wrapper {
    display: block;
}

div a:link {
    text-decoration: none;
}

div.odd:hover { box-shadow: 5px 5px 10px gray; }
div.even:hover {box-shadow: 5px 5px 10px gray; }

div p {
    color: black;
}

div.odd {
    border: 2px solid #F2845C;
    border-radius: 8px;
    margin: 10px auto;
    padding: .5em;
    background-color: rgba(245,241,213,0.5);
} 

main div.wrapper div.item2 img {
    width: 100%;
}

div.even {
    border: 2px solid #B4D6C6;
    border-radius: 8px;
    margin: 10px auto;
    padding: .5em;
    background-color: rgba(74,132,159,0.3);
} 

/*main div.wrapper div.item4 img {
    width: 100%;
}

main div.wrapper div.item6 img {
    width: 100%;
}

main div.wrapper div.item8 img {
    width: 100%;
}

/*------------contact page------------*/

main div.contactbox {
    display: grid;
}