* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Allerta', sans-serif;
  margin: auto;
}

header, nav, main, footer { 
  max-width: 540px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

header {
    background: white;
    top: 0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
}
header h1 {
    font-size: 25px;
    color: #1B3440;
    margin: auto;
    vertical-align: inherit;
}
header img {
    width: 16%;
    float: left;
    margin-right: 1em;
}
header .subheading {
    font-size: 20px;
    color: #4A849F;
    font-family: 'Raleway', sans-serif;
    margin: .25em;
}

nav {
   background-color: #B4D6C6;
   padding: inherit;
   overflow: hidden;
   align-content: center;
   margin-top: 60px;
}

nav button {
    
}
nav ul {
    margin: auto;
    list-style-type: none;
    align-content: center;
    }
nav ul li {
    font-size: 18px;
    color: #1B3440;
    padding: 6px;
    display: block;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: #1B3440; 
}
nav ul li.active a { color: #ffffff; }
nav ul li a:hover {
    background-color: #F2845C;
    padding: .5em;
}
#hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
main div {
    display: block;
    border-width:5px;  
    border-style:outset;
    padding: 5px;
    margin: .5em;
}
main div h1 { 
    color: #1B3440;
}
main div h2 {
    color: #F2845C;
    font-size: 18px;
}
main div h3 { 
    color: #4A849F;
    font-size: 15px;
}
main figure { 
    margin: 0 .1em 2%; 
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}
main figure img { 
    width: 100%;
    height: auto;  
}

#weather-icon { 
    width: 50%;
    display: block;
}

#icon { 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

main p { 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
main ul { 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
section.forecast { 
    display: none;
}

footer {
    color: #F5F1D5;
    background-color: #4A849F; 
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px;
    height: auto;
    width: 100%;
}
#box-3 { 
    background-color: #1B3440;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: -10px;
}
